<div class="container bg-light rounded">
  <div class="row  mb-4 justify-content-center">
    <strong>Name:</strong>
    <%= @user.name %>
  </div>
  
  <div class="row  mb-2 justify-content-center">
    <strong>Icon:</strong>
  </div>

  <div class="row  mb-4 justify-content-center">
    <% if @user.icon? %>
      <%= image_tag @user.icon.url, class:"icon_image" %>
    <% else %>
      <%= image_tag 'user_default_icon.png', class:"icon_image" %>
    <% end %>
  </div>
  
  <div class="row  mb-4 justify-content-center">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>
  
  <div class="row  pb-3 justify-content-center">
    <div class="md-4">
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary md-4" %> 
      <%= link_to 'Back', posts_path,  class:"btn btn-secondary md-4" %>
    </div>
  </div>

</div>