<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Icon:</strong>
  <% if @user.icon? %>
    <p class="user_icon"><%= image_tag @user.icon.url %></p>
  <% else %>
    <p class="user_icon"><%= image_tag 'user_default_icon.png' %></p>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
