<div class="row justify-content-center mb-5">
  <div class="post_block">
    <div class="block_text">

      <div class="post_header d-flex align-items-center">
        <div class="name">
          <%= image_tag @post.user.icon.url, class:"icon_image" %>
          <%= @post.user.name.truncate(14) %>
        </div>
        
        <% if current_user.id == @post.user_id %>
        <div class="menu_icon">
          <div class="modal-open", data-toggle="tooltip", title="投稿者用メニュー">
            <i class="fa-solid fa-plus fa-lg text-muted"></i>
          </div>
        </div>
        

        
        <div class="modal-container">
          <div class="modal-body">
            
            <div class="modal-close">×</div>
            
            <div class="modal-content">
              <ul class="list-group text-center">
                <li class="list-group-item"><%= link_to "投稿を編集する", edit_post_path(@post.id), class:"text-secondary"  %></li>
                <li class="list-group-item"><%= link_to "投稿を削除する", post_path(@post.id), method: :delete, class:"text-danger", data: { confirm: '投稿を削除してよろしいですか？'}  %></li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>

        
        
      </div>

      <div class="image_area bg-secondary">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% @post.image.drop(1).count.times do |index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="#{index}"></li>
            <% end %>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <% @post.image.first(1).each do |image| %>
                <%= image_tag image.to_s, class: "carousel_image"  %>
              <% end %>
            </div> 
            <% @post.image.drop(1).each do |image| %>
              <div class="carousel-item">
                <%= image_tag image.to_s, class: "carousel_image" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="text_area">

        <div class="contents">
          <%= @post.content %>
        </div>
        <div class="date"><%= @post.created_at.strftime("%y-%m-%d %H:%M") %> Posted</div>
        
        
      </div>
    </div>
  </div>
</div>

<div class="row  pb-3 justify-content-center">
  <div class="md-4">
    <%= link_to 'top', posts_path,  class:"btn btn-secondary md-4" %>
  </div>
</div>